fieldset {
  border: 1px #21201E solid;
  //border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: white;
  max-width: 60%;
  margin-right: 70px;
  margin-top: 45px;
  margin-left: 260px;
  max-height: 100vh;
  padding-bottom: 30px;
  background-color: #21201E;
  legend {
    top: -5px;
    margin-left: 1em;
    padding: 0.2em 0.8em;
    margin-bottom: 40px;
  }
  .content-line {
    padding-left: 50px;
    display: inline;
    margin: 0 auto;
    max-width: 100%;
    .label {
      display: inline-block;
      width: 150px;
    }
    .data {

    }
  }
}
