<fieldset>
    <legend>PROFILE</legend>
    <!--Afficher les informations utilisateurs
    -->
    <div class="content-line">
      <span class="label">
        NAME :
      </span>
      <span class="data">
        DATA
      </span>
    </div>

    <br/><br/>

    <div class="content-line">
      <span class="label">
        FIRSTNAME :
      </span>
      <span class="data">
        DATA
      </span>
    </div>

    <br/><br/>

    <div class="content-line">
      <span class="label">
        EMAIL :
      </span>
      <span class="data">
        DATA
      </span>
    </div>

    <br/><br/>

    <div class="content-line">
      <span class="label">
        ADMIN USER :
      </span>
      <span class="data">
        DATA
      </span>
    </div>

    <br/><br/>

    <div class="content-line">
      <span class="label">
        SUDO USER :
      </span>
      <span class="data">
        DATA
      </span>
    </div>

    <br/><br/>
</fieldset>
