<h1>
 Web application <br/> -- Monitoring server
</h1>

<div class="access">
  <div>
    <p><a routerLink="/">login</a> / </p>
    <p><a routerLink="./register">register</a></p>
  </div>
</div>

<form>
  <label for="email">
    E-mail :
  </label>
  <input type="email" id="email" name="email" placeholder="E-mail" [value]="formLogin.email" (change)="formLogin.email = $event.target.value" ngModel>
  <br/>
  <label for="password">
    Password :
  </label>
  <input type="password" id="password" name="password" placeholder="Password" [value]="formLogin.password" (change)="formLogin.password = $event.target.value" ngModel>
  <br/>
  <button type="button" value="Register" (click)=loginUser()>Login</button>
</form>


<!-- <form (submit)="loginUser($event)">
  <label for="login">
    Login :
  </label>
  <input id="login" name="login" type="text" required placeholder="E-mail">
  <br/>
  <label>
    Password :
  </label>
  <input id="password" name="password" type="password" required placeholder="Password">
  <br/>
  <input type="submit" name="validate" id="btn_validate" value="Login">
</form>
 -->
