<div class="sidebar">
  <div class="sidebar-title sidebar-icon sidebar-item">
    <p><i class="fas fa-sitemap"></i></p>
  </div>
  <div class="sidebar-title sidebar-item sidebar-item-link">
    <p><a routerLink="../aboutus"><i class="fas fa-server"></i> MONITORING</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a href="dashboard"><i class="fas fa-chart-bar"></i> DASHBOARD</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="../webterminal"><i class="fas fa-terminal"></i> WEB TERMINAL</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="../profil"><i class="far fa-id-badge"></i> PROFILE</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="../user-management"><i class="fas fa-users-cog"></i> MANAGEMENT</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="../logout"><i class="fas fa-sign-out-alt"></i> SIGNOUT</a></p>
  </div>
</div>
