<div class="sidebar">
  <div class="sidebar-title sidebar-icon sidebar-item">
    <p>ICON</p>
  </div>
  <div class="sidebar-title sidebar-item sidebar-item-link">
    <p><a routerLink="aboutus">MONITORING SERVER</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="dashboard">DASHBOARD</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="webterminal">WEB TERMINAL</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="profil">PROFIL</a></p>
  </div>
  <div class="sidebar-item sidebar-item-link">
    <p><a routerLink="#">DISCONNECT</a></p>
  </div>
</div>
