@import "../../partials/sidebar/sidebar.component.less";

fieldset {
  border: 1px #21201E solid;
  //border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: white;
  max-width: 60%;
  margin-right: 70px;
  margin-top: 45px;
  margin-left: 260px;
  max-height: 80vh;
  background-color: #21201E;
  legend {
    top: -5px;
    margin-left: 1em;
    padding: 0.2em 0.8em
  }
  .content {
    .line {
      display: flex;
      transition: 0.5s;
      span {
        flex-grow: 1;
        text-align: center;
        width: 20%;
        min-width: 15vh;
      }
    }
    .user-firstline {
      background-color: #083F54;
    }
    .user-line {
      .button-on {
        width: 20%;
        background-color: #FF6326;
      }
      .button-off {
        width: 20%;
        background-color: #00C000;
      }
      &:hover {
        background-color: #2D8099;
      }
    }
  }
}
