<fieldset>
    <legend>MANAGEMENT</legend>
    <!--Liste des users avec bouton isAdmin isSudo-->
    <div class="content">
      <div class="user-firstline line">
        <span class="line-content">
          FIRSTNAME
        </span>

        <span class="line-content">
          NAME
        </span>

        <span class="line-content">
          LOGIN
        </span>

        <span class="line-content">
          ADMIN
        </span>

        <span class="line-content">
          SUDO
        </span>
      </div>

      <form class="" action="index.html" method="post">
        <div class="user-line line">
          <span class="line-content">
            FIRSTNAME
          </span>

          <span class="line-content">
            NAME
          </span>

          <span class="line-content">
            LOGIN
          </span>

          <span class="line-content">
            <input type="button" name="" value="ON">
            <input type="button" name="" value="OFF">
          </span>

          <span class="line-content">
            <input type="button" name="" value="ON">
            <input type="button" name="" value="OFF">
          </span>
        </div>
    </form>
    </div>
</fieldset>
