<fieldset>
    <legend>MANAGEMENT</legend>
    <!--Liste des users avec bouton isAdmin isSudo-->
    <div class="content">
      <div class="user-firstline line">
        <span class="line-content">
          FIRSTNAME
        </span>

        <span class="line-content">
          NAME
        </span>

        <span class="line-content">
          LOGIN
        </span>

        <span class="line-content">
          ADMIN
        </span>

        <span class="line-content">
          SUDO
        </span>

        <span class="line-content">
          REMOVE
        </span>

      </div>

        <div class="user-line line" *ngFor="let user of users">
          <span class="line-content">
            {{user.firstname}}
          </span>

          <span class="line-content">
            {{user.lastname}}
          </span>

          <span class="line-content">
            {{user.email}}
          </span>

          <span class="line-content">
            <button type="button" name="" value="ON">ON</button>
            <button type="button" name="" value="OFF">OFF</button>
          </span>

          <span class="line-content">
            <button type="button" name="" value="ON">ON</button>
            <button type="button" name="" value="OFF">OFF</button>
          </span>

          <span class="line-content">
            <button type="button" name="delete" (click)="deleteUser(user._id)" class="fas fa-trash"></button>
          </span>
        </div>
    </div>
</fieldset>
