@import "../../partials/sidebar/sidebar.component.less";

fieldset {
  border: 1px #21201E solid;
  //border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: white;
  max-width: 60%;
  margin-right: 70px;
  margin-top: 45px;
  margin-left: 260px;
  background-color: #21201E;
  max-height: 80vh;
  min-height: 60vh;
  overflow: auto;
  legend {
    top: -5px;
    margin-left: 1em;
    padding: 0.2em 0.8em
  }
  form {
    background-color: black;
    .term-result {
      min-width: 100%;
      background-color: black;
      display: inline;
      color: white;
      font-size: 0.8em;
    }
    .term-line {
      min-width: 100%;
      color: white;
      display: inline;
      p {
        display: inline;
        font-size: 0.8em;
      }
      .textfield {
        background-color: black;
        border: none;
        display: inline;
        color: white;
        min-width: 85%;
        overflow: auto;
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
    .button-hidden {
      display: none;
    }
  }
}
